
.btn.btn-info {
    margin-left: 150px;
    margin-right: 20px;
    height: 40px;
    width: 120px;
}

.btn.btn-danger {
    margin-right: 20px;
    height: 40px;
    width: 80px;
}
#accAdd_btn{
    margin-right: 100px;
}