#serviceGrid{
}
.table-box{
    width: 1010px;
    margin-top: 20px;
    height: 400px;
    overflow: auto;
}
.table-box::T{
    
}
.search_icon{
    bottom: 0;
}
.container{
    transform: translateX(-10px);
}