.pagination li{
    padding: 10px;
    margin: 0 10px;
    border-radius: 50%;
    border: 1px solid #ccc;
}
.pagination li:first-child, .pagination li:last-child, .pagination li:nth-child(2), .pagination li:nth-child(-3){
    padding: 10px;
    margin: 0 10px;
    border-radius: 10%;
    border: 1px solid #ccc;
}