.table-box{
    width: 1010px;
    margin-top: 20px;
    height: 420px;
    overflow-x: scroll;
}
.table-box::-webkit-scrollbar{
    width: 5px;
}
<<<<<<< HEAD
.search_icon.service{
    bottom: 0;
}
.container{
    transform: translateX(-10px);
}
=======
.container{
    transform: translateX(-10px);
}
#add_button-service{
    margin-right: 110px;
}

>>>>>>> loi
